$main-text-style: 400 16px/26px "Open Sans"
$main-text-style-mobile: 400 14px/20px "Open Sans"
$main-text-color: #8d8f92
$h2-color-mod: #292f36
*
	box-sizing: border-box
h2
	color: white
	font: 700 36px "Quattrocento Sans"
	text-transform: uppercase
	position: relative
	padding-left: 24px
	display: inline-block
	letter-spacing: -2px
	+r(992)
		font: 700 28px "Quattrocento Sans"
	+r(768)
		font-size: 20px
		display: block
		text-align: center
		padding-left: 0
	&:before, &:after
		transition: all .4s
		content: ''
		position: absolute
		height: 35px
		top: 50%
		left: 0
		width: 10px
		transform: translateY(-50%)
		+r(768)
			display: none
	&:before
		background: #e1e6ea
	+rmin(992)
		&:after
			height: 0
			background: #23b7a4
		&:hover
			&:after
				height: 35px
a
	text-decoration: none
.valid_form
	box-shadow: 0px 0px 10px 2px green inset

.error_form
	box-shadow: 0px 0px 10px 2px red inset
.default-button
	padding: 12px 23px
	display: inline-block
	border: 2px solid white
	border-radius: 5px
	color: white
	font: 700 14px "Quattrocento Sans"
	text-transform: uppercase
	margin-right: 5px
	z-index: 2
	+rmin(1200)
		transition: all .4s
		position: relative
		&:before
			transition: all .4s
			content: ''
			+coverdiv
			width: 0
			background: #23b7a4
			z-index: -1
		&:hover
			border: 2px solid #23b7a4
			&:before
				width: 100%