$main-text-style: 400 16px/26px "Open Sans"
$main-text-color: #8d8f92
*
	box-sizing: border-box
h1, h2
	color: white
	font: 700 36px/42px "Quattrocento Sans"
	text-transform: uppercase
a
	text-decoration: none
.cf:before, .cf:after 
	content: ""
	display: block
.cf:after 
	clear: both
.cf 
	zoom: 1
