<!--begin first-creen-->
<div class="first-screen">
	<!--begin container-->
	<div class="container">
		<h1>Modest</h1>
		<div class="fs-slider">
			<div class="fs-slider__item">
				<h2 class="fs-slider__h2 h2">
					welcome to our marketplace
				</h2>
				<p class="fs-slider__desr">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nisi metus, tristique ndolor 
					non, ornare sagittis dolor. Nulla vestibulu lacus ...
				</p>
				<div class="fs-links-wrapper">
					<a  class="fs-slider__link default-button" href="#">view more</a>
					<a  class="fs-slider__link default-button" href="#">video tour</a>
				</div>
			</div>
			<div class="fs-slider__item">
				<h2 class="fs-slider__h2 h2">
					welcome to our marketplace
				</h2>
				<p class="fs-slider__desr">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nisi metus, tristique ndolor 
					non, ornare sagittis dolor. Nulla vestibulu lacus ...
				</p>
				<div class="fs-links-wrapper">
					<a  class="fs-slider__link default-button" href="#">view more</a>
					<a  class="fs-slider__link default-button" href="#">video tour</a>
				</div>
			</div>
			<div class="fs-slider__item">
				<h2 class="fs-slider__h2 h2">
					welcome to our marketplace
				</h2>
				<p class="fs-slider__desr">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nisi metus, tristique ndolor 
					non, ornare sagittis dolor. Nulla vestibulu lacus ...
				</p>
				<div class="fs-links-wrapper">
					<a  class="fs-slider__link default-button" href="#">view more</a>
					<a  class="fs-slider__link default-button" href="#">video tour</a>
				</div>
			</div>
		</div>
	</div>
	<!--end container-->
</div>
<!--end first-creen-->

