<footer>
	<!-- begin container -->
	<div class="container ">
		<p>&copy; Copyright 2014 by PSD Booster. All Rights Reserved.</p>
		<div class="socials footer-socials">
			<a href="#" target="_blank">{{mixins.icon('tw')}}</a>
			<a href="#" target="_blank">{{mixins.icon('f')}}</a>
			<a href="#" target="_blank">{{mixins.icon('skype')}}</a>
			<a href="#" target="_blank">{{mixins.icon('e')}}</a>
			<a href="#" target="_blank">{{mixins.icon('I')}}</a>
		</div>
	</div>
	<!-- end container -->
</footer>