<header class="header" id="header">
	<div class="wrapper-scroll default">
		<!--begin container-->
		<div class="container cf">
			<a href="#" class="header__logo">
				<img src="img/logo.png" alt="MODEST" >
			</a>
			<div class="header__menu-btn"></div>
			<ul class="header__menu">
				<li class="menu__item"><a href="#header">home</a></li>
				<li class="menu__item"><a href="#about">about</a></li>
				<li class="menu__item"><a href="#work">work</a></li>
				<li class="menu__item"><a href="#team">team</a></li>
				<li class="menu__item"><a href="#services">services</a></li>
				<li class="menu__item"><a href="#features">features</a></li>
				<li class="menu__item"><a href="#contacts">contact</a></li>
			</ul>
		</div>
		<!--end container-->
	</div>

</header>