<header class="header">
	<!--begin container-->
	<div class="container cf">
		<a href="#" class="header__logo">
			<img src="img/logo.png" alt="MODEST" >
		</a>
		<div class="header__menu-btn"></div>
		<ul class="header__menu">
			<li class="menu__item"><a href="#">home</a></li>
			<li class="menu__item"><a href="#">about</a></li>
			<li class="menu__item"><a href="#">work</a></li>
			<li class="menu__item"><a href="#">team</a></li>
			<li class="menu__item"><a href="#">services</a></li>
			<li class="menu__item"><a href="#">features</a></li>
			<li class="menu__item"><a href="#">contact</a></li>
		</ul>
	</div>
	<!--end container-->

</header>