	<!--begin our-team-->
	<div class="our-team" id="team">
		<!--begin container-->
		<div class="container">
			<h2 class="our-team__h2">meet the team.</h2>
			<div class="team-list ">
				{% import "data/data.html" as tests %}
				{% for test in tests.list %}
				<div class="team__item" >
					<div class="team__photo" style="background-image: url({{test.img}});">
					</div>
					<div class="team__desc desc">
						<p class="desc__name">{{test.name}}</p>
						<p class="desc__spec">{{test.specialization}}</p>
					</div>
					<div class="item-links ">
						<a href="{{test.tw}}">
							{{mixins.icon('tw')}}
						</a>
						<a href="{{test.f}}">
							{{mixins.icon('f')}}
						</a>
						<a href="{{test.in}}">
							{{mixins.icon('I')}}
						</a>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
		<!--end container-->
	</div>
	<!--end our-team-->
