<!-- begin we-modest -->
<div class="we-modest" id="about">
	<!-- begin container -->
	<div class="container">
		<h2 class="we-modest__h2">we are modest.</h2>
		<!-- begin modest-wrapper -->
		<div class="modest-wrapper">
			<div class="left-col ">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nisi metus, tristique ndolor non, ornare sagittis dolor. Nulla vestibulu lacus sed molestie gravida. Crferm entum  quismagna congue, vel sodales arcu vestibulum. Nunc lobortis dui magna, quis lacusullamcorper at. 
				</p>
				<p>
					Phasellus sollicitudin ante eros ornare, <span>sit amet luctus lorem semper</span>. Suspendisse posuere, quamdictum consectetur, augue metus pharetra tellus, eu feugiatloreg egetnisi. Cras ornare bibendum ante, ut bibendum odio convallis eget. vel sodales arcu vestibulum
				</p>
				<div class="social-wrapper">
					<a href="#" class="modest-social" target="_blank">
						{{mixins.icon('f')}}
					</a>
					<a href="#" class="modest-social" target="_blank">
						{{mixins.icon('tw')}}
					</a>
					<a href="#" class="modest-social" target="_blank">
						{{mixins.icon('g')}}
					</a>
					<a href="#" class="modest-social" target="_blank">
						{{mixins.icon('D')}}
					</a>
					<a href="#" class="modest-social" target="_blank">
						{{mixins.icon('e')}}
					</a>
				</div>
			</div>
			<div class="right-col">
				<ul class="we-modest__list list">
					<li class="list__item ">
						<div class="item-number">1</div>
						<span>Dedication to the customers</span>
						<p>Integer vel lacus non dui ullamcorper venenatis. Aliquam vitae tristique nisi, vitae ullamcorper risus. Nam porttitor blandit ultricies.
						</p>
					</li>
					<li class="list__item">
						<div class="item-number">2</div>
						<span>working closely with our clients</span>
						<p>Sed blandit nisi urna, sed pellentesque enim consectetur vitae. Suspendisse ut vehicula nibh.
						</p>
					</li>
					<li class="list__item">
						<div class="item-number">3</div>
						<span>increase happiness</span>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eleifend laoreet euismod.
						</p>
					</li>
				</ul>
			</div>
		</div>
		<!-- end modest-wrapper -->
	</div>
	<!-- end container -->
</div>
<!-- end we-modest -->