{% set 
list = [
	{
		img: 'img/team1.jpg',
		alt:'alt',
		name: 'Pablo Bromley',
		specialization: 'CEO and Founder',
		tw:'#',
		fb:'#',
		in:'#'
	},
		{
		img: 'img/team2.jpg',
		alt:'alt',
		name: 'Paul Torres',
		specialization: 'Head of Development',
		tw:'#',
		fb:'#',
		in:'#'
	},
		{
		img: 'img/team3.jpg',
		alt:'alt',
		name: 'Judith Gillette',
		specialization: 'Graphic Desinger',
		tw:'#',
		fb:'#',
		in:'#'
	},
		{
		img: 'img/team4.jpg',
		alt:'alt',
		name: 'Delores Reed',
		specialization: 'Client Service Director',
		tw:'#',
		fb:'#',
		in:'#'
	}
] 
%}
{% set 
list2 = [
	{
		img: 'img/first-screen-bg.jpg',
		alt:'alt',
		desc: 'partnership guidlines'
	},
		{
		img: 'img/gal2.jpg',
		alt:'alt',
		desc: 'Lorem ipsum'
	},
		{
		img: 'img/gal3.jpg',
		alt:'alt',
		desc: 'Lorem ipsum'
	},
		{
		img: 'img/gal4.jpg',
		alt:'alt',
		desc: 'Lorem ipsum'
	},
		{
		img: 'img/gal5.jpg',
		alt:'alt',
		desc: 'Lorem ipsum'
	},
		{
		img: 'img/gal6.jpg',
		alt:'alt',
		desc: 'Lorem ipsum'
	}
	
] 
%}
] 
%}
{% set 
list3 = [
	{
		img: 'img/serv1.png',
		shortdesc:'Easy theme Setup',
		desc: 'Nunc mattis lorem in leo lobortis, ut venenatis justo commodo. Maecenas a justo nec velit egestas fermentum.'
	},
		{
		img: 'img/serv2.png',
		shortdesc:'pixel perfect design',
		desc: 'Nunc mattis lorem in leo lobortis, ut venenatis justo commodo. Maecenas a justo nec velit egestas fermentum.'
	},
		{
		img: 'img/serv3.png',
		shortdesc:'responsive display',
		desc: 'Nunc mattis lorem in leo lobortis, ut venenatis justo commodo. Maecenas a justo nec velit egestas fermentum.'
	},
		{
		img: 'img/serv4.png',
		shortdesc:'24/7 support',
		desc: 'Nunc mattis lorem in leo lobortis, ut venenatis justo commodo. Maecenas a justo nec velit egestas fermentum.Maecenas a justo nec velit egestas fermentum.'
	},	
	{
		img: 'img/serv1.png',
		shortdesc:'Easy theme Setup',
		desc: 'Nunc mattis lorem in leo lobortis, ut venenatis justo commodo. Maecenas a justo nec velit egestas fermentum.'
	},
		{
		img: 'img/serv2.png',
		shortdesc:'pixel perfect design',
		desc: 'Nunc mattis lorem in leo lobortis, ut venenatis justo commodo. Maecenas a justo nec velit egestas fermentum.'
	},
		{
		img: 'img/serv3.png',
		shortdesc:'responsive display',
		desc: 'Nunc mattis lorem in leo lobortis, ut venenatis justo commodo. Maecenas a justo nec velit egestas fermentum.'
	},
		{
		img: 'img/serv4.png',
		shortdesc:'24/7 support',
		desc: 'Nunc mattis lorem in leo lobortis, ut venenatis justo commodo. Maecenas a justo nec velit egestas fermentum.Maecenas a justo nec velit egestas fermentum.'
	}

] 
%}