.features
	padding-top: 85px
	padding-bottom: 117px
	background: #3a454d
	+r(768)
		padding-top: 30px
		padding-bottom: 40px
.features__h2
	letter-spacing: 0px
	margin-bottom: 55px
.features-list
	text-align: center
.features__item
	display: inline-block
	text-align: left
	vertical-align: top
	font: $main-text-style
	color: $main-text-color
	width: 360px
	margin-right: 24px
	&:last-of-type
		margin-right: 0
	+r(1200)
		margin-bottom: 20px	
		width: 280px
	+r(768)
		font: $main-text-style-mobile
		margin: 0 5px 20px
	.img-block
		height: 240px
		width: 100%
		position: relative
		&:before
			content: ''
			+coverdiv
			opacity: 0
			background: #000
			transition: all .2s
		+rmin(1200)
			&:hover
				&:before
					opacity: .3
	span
		display: block
		margin-top: 55px
		margin-bottom: 18px
		font: 700 18px "Quattrocento Sans"
		text-transform: uppercase
		letter-spacing: -1px
		+r(768)
			margin-top: 10px
			margin-bottom: 10px