.we-modest
	padding-top: 81px
	padding-bottom: 100px
	+r(767)
		padding-top: 30px
		padding-bottom: 40px
.we-modest__h2
	color: $h2-color-mod
	margin-bottom: 50px
	+r(767)
		margin-bottom: 15px
.modest-wrapper
	font: $main-text-style
	color: $main-text-color
	+r(767)
		font: $main-text-style-mobile
.left-col
	vertical-align: top
	+clr
	display: inline-block
	width: 658px
	+r(1199)
		width: 440px
	+r(991)
		width: 340px
	+r(767)
		width: 100%
	p
		margin-bottom: 25px
		&:last-of-type
			margin-bottom: 48px
	span
		font-weight: 700
.right-col
	vertical-align: top
	width: 457px
	display: inline-block
	+r(991)
		width: 370px
	+r(767)
		width: 100%
.social-wrapper
	+clr
	+r(767)
		text-align: center
		margin-bottom: 25px
a.modest-social
	float: left
	width: 60px
	height: 60px
	background: #c8cdd0
	transition: all .3s
	position: relative
	margin-right: 1px
	&:last-of-type
		margin-right: 0
	.icon
		+vcenter
		height: 1.3em
		width: 1.3em
		+rmin(1200)
			transition: all .3s
	&:hover
		background: #d0d5d9
	+rmin(1200)
		&:hover
			.icon
				height: 1.5em
				width: 1.5em
	+r(767)
		width: 45px
		height: 45px
		float: none
		display: inline-block
		margin-right: 5px
.we-modest__list
	padding-left: 90px
	+r(767)
		padding-left: 50px
	.list__item
		position: relative
		&:nth-of-type(2)
			margin-bottom: 30px
		+r(767)
			margin-bottom: 20px
			&:nth-of-type(2)
				margin-bottom: 20px
		.item-number
			position: absolute
			left: -66px
			top: 8px
			width: 50px
			height: 50px
			background: #23b7a4
			border: 1px solid #23b7a4
			text-align: center
			color: #fff
			font: 700 20px/50px "Quattrocento Sans"
			text-transform: uppercase
			+r(767)
				left: -45px
				top: 6px
				width: 40px
				height: 40px
				line-height: 40px
		+rmin(1200)
			.item-number
				z-index: 1
				&:before
					transition: all .4s
					content: ''
					position: absolute
					+vcenter
					width: 0%
					height: 0%
					z-index: -1
					background: transparent
			&:hover
				.item-number
					color: #23b7a4
					&:before
						width: 100%
						height: 100%
						background: #fff
	span
		color: #292f36
		font: 700 20px/32px "Quattrocento Sans"
		text-transform: uppercase
		letter-spacing: -2px
		+r(767)
			font-size: 16px
			line-height: 24px
			letter-spacing: 0
