@font-face {
  font-family: "iconfont";
  src: url('fonts/iconfont.eot');
  src: url('fonts/iconfont.eot?#iefix') format('eot'),
    url('fonts/iconfont.woff2') format('woff2'),
    url('fonts/iconfont.woff') format('woff'),
    url('fonts/iconfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

$icon-D: "\EA01";
$icon-I: "\EA02";
$icon-e: "\EA03";
$icon-f: "\EA04";
$icon-facebook: "\EA05";
$icon-g: "\EA06";
$icon-services1: "\EA07";
$icon-services2: "\EA08";
$icon-services3: "\EA09";
$icon-services4: "\EA0A";
$icon-skype: "\EA0B";
$icon-tw: "\EA0C";


%icon {
  font-family: "iconfont";
  font-style: normal;
  font-weight: normal;
  text-rendering: auto;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon {
  @extend %icon;
  display: inline-block;
}

.icon-D:before { content: $icon-D; }
.icon-I:before { content: $icon-I; }
.icon-e:before { content: $icon-e; }
.icon-f:before { content: $icon-f; }
.icon-facebook:before { content: $icon-facebook; }
.icon-g:before { content: $icon-g; }
.icon-services1:before { content: $icon-services1; }
.icon-services2:before { content: $icon-services2; }
.icon-services3:before { content: $icon-services3; }
.icon-services4:before { content: $icon-services4; }
.icon-skype:before { content: $icon-skype; }
.icon-tw:before { content: $icon-tw; }
