.icon-D {
  width: 1em;
  height: 1em;
  fill: #FFF;
}
.icon-e {
  width: 1.61em;
  height: 1em;
  fill: #FFF;
}
.icon-f {
  width: 0.54em;
  height: 1em;
  fill: #FFF;
}
.icon-facebook {
  width: 0.53em;
  height: 1em;
  fill: #000;
}
.icon-g {
  width: 0.53em;
  height: 1em;
  fill: #FFF;
}
.icon-I {
  width: 0.9em;
  height: 1em;
  fill: #FFF;
}
.icon-services1 {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-services2 {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-services3 {
  width: 0.63em;
  height: 1em;
  fill: initial;
}
.icon-services4 {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-skype {
  width: 1.01em;
  height: 1em;
  fill: #FFF;
}
.icon-tw {
  width: 1.23em;
  height: 1em;
  fill: #FFF;
}
